services:
  backend:
    build: ./backend
    container_name: fastapi_backend
    volumes:
      - ./backend/database:/app/database
    ports:
      - "8000:8000"
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: react_frontend
    ports:
      - "3000:80"
    environment:
      - VITE_API_URL=backend:8000
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
    driver: local
